* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(176, 246, 255);
}

body {
    background-image: url("../bg-type.jpg");
    background-size: cover;
}

.container {
    background: rgba(11, 0, 71, .6);
    color: rgb(176, 246, 255);
    margin: 10vh auto;
    width: 450px;
    height: 550px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 3px solid rgb(176, 246, 255);
    position: relative;
}

h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}

.form,
.form2 {
    text-align: center;
    margin: 30px auto;
}

#acceso,
#back {
    margin: 15px auto;
    text-align: center;
    background: none;
    border: 2px solid rgb(176, 246, 255);
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
}

#acceso:focus,
#back:focus {
    content: '';
    border: none;
    margin-bottom: 1px;
    border: 2px solid rgb(0, 255, 157);
    color: rgb(0, 255, 157);
    transition: all 0.2s ease;
}